---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Proyects from "../components/Proyects.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Welcome to Portfolio.">
  <header>
    <div class="logo">
      <p>RobertoDev</p>
    </div>
    <nav>
      <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#proyects">Proyectos</a></li>
        <li><a href="#skills">Habilidades</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <Home />
    <About />
    <Proyects />
    <Skills />
  </main>
  <footer>
    <article>
      <h4>Redes Sociales</h4>
      <a href="https://github.com/RobertoSanchezRamos11" target="_blank"
        ><svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#9e9e9e"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
            stroke-width="0"
            fill="#fff"></path>
        </svg></a
      >
      <a
        href="https://www.linkedin.com/in/roberto-s%C3%A1nchez-dev/"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 48 48"
        >
          <path
            fill="#fff"
            d="M8.421 14h.052 0C11.263 14 13 12 13 9.5 12.948 6.945 11.263 5 8.526 5 5.789 5 4 6.945 4 9.5 4 12 5.736 14 8.421 14zM4 17H13V43H4zM44 26.5c0-5.247-4.253-9.5-9.5-9.5-3.053 0-5.762 1.446-7.5 3.684V17h-9v26h9V28h0c0-2.209 1.791-4 4-4s4 1.791 4 4v15h9C44 43 44 27.955 44 26.5z"
          ></path>
        </svg></a
      >
    </article>
  </footer>
</Layout>

<style>
  header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 10px 10px 20px -6px rgba(197, 197, 197, 0.2);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    z-index: 100;
  }

  .logo {
    width: 100px;
    text-align: center;
    height: auto;
  }

  .logo p {
    font-weight: 500;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #282828;
    font-weight: 500;
  }

  footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8px;
    padding: 0 16px;
  }

  article a {
    width: 40px;
    height: 40px;
    padding: 4px;
    display: grid;
    place-items: center;
    background-color: #282828;
    border-radius: 50%;
  }

  @media (max-width: 370px) {
    .logo {
      display: none;
    }

    nav ul {
      font-size: 14px;
      gap: 16px;
    }
  }
</style>
